/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
#register
{
    background: orange;
    border-radius: 6px;
    color: white;
}
#alertover
{

    margin-bottom: -4rem;
}
#binance-card-header {
    background: orange;
    color: white;
}
#coinbase-card-header {
    background: blue;
    color: white;
}
.form-control {
    margin: 10px;
}
